#grid1 .ag-header-cell {
    background-color: #b02e2e;
    }
    
    #grid1 .ag-row {
    font-weight: bold;
    }
    
    #grid2 .ag-header-cell {
    background-color: #26ea2c;
    }
    
    #grid2 .ag-row {
    font-weight: bold;
    }