name: multi-example - e2e tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  pull-requests: read

jobs:
  run-playwright-tests:
    name: Playwright Tests
    runs-on: ubuntu-latest
    container: node:20
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Enable Corepack and Setup PNPM
        run: |
          corepack enable
          corepack prepare pnpm@9.14.2 --activate

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile

      - name: Install Chromium Browser
        run: pnpm playwright install --with-deps chromium

      - name: Build Projects
        run: pnpm build

      - name: Start Application multi-example
        run: nohup pnpm run multi-example & pnpm exec wait-on http://localhost:5173;

      - name: Run Playwright Tests
        run: pnpm playwright test

      - name: Upload Artifacts on Failure
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: reports/e2e/output
          retention-days: 3
