name: Validate PR title

on:
  pull_request:
    branches:
      - main

permissions:
  pull-requests: read

jobs:
  ############ SEMANTIC PR TITLE VALIDATION ############
  semantic-pr:
    name: Validate PR title
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v5.5.3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
